body {
	margin-top: 4px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

p {
    margin: 0;
    padding: 0;
}

a {
	margin: 0;
    padding: 0;
}

ol {
	margin: 0;
}

li {
	padding-top: 3px;
	padding-bottom: 3px;
}

#logo {
	max-width: 100%;
	max-height: 100%;
	padding-left: 5px;
	vertical-align: middle;
}

#home-page-header {
	background-color: tomato;
	width: 85%;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#home-page-banner {
	text-decoration: none;
}

#login {
	margin-right: 5px;
	float: right;
	text-decoration: none;
}

#home-page-footer {
	background-color: whitesmoke;
	width: 85%;
	margin: auto;
}

#home-page-content {
	background-color: whitesmoke;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 85%;
	margin: auto;
}

#more-news {
	background-color: whitesmoke;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	width: 85%;
	margin: auto;
}

#more_news_link {
	padding-left: 40px;
	text-decoration: none;
	color: gray;
}

#more_news_link:hover {
	cursor: pointer;
}

#context-footer-dividor {
	border: 1px solid tomato;
	margin: 0;
	margin-top: 5px;
}

.titleText:hover {
	cursor: pointer;
}

#search-bar {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-register-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form_element {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form_element label {
    flex: 1;
}

.form_element input {
    flex: 2;
}

// Define variables for reuse
$post-font-size: 24px;
$comment-font-size: 18px;

// Comments section styles
.comments {
    list-style-type: none;
    padding: 0;

    // Individual comment styles
    .comment {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;

      // Comment text styles
      p {
        font-size: $comment-font-size;
        margin: 0;
      }

      // Commenter name styles
      strong {
        font-weight: bold;
      }
    }
  }